@import "tailwindcss";

body {
    background-color: #16161a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

body, #root {
    width: 100%;
    height: 100%;
}